<nav>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-outline-primary">{{menuItems[0]}}</button>
    <button class="btn btn-outline-primary">{{menuItems[1]}}</button>
    <button class="btn btn-outline-primary" ngbDropdownToggle>
      {{menuItems[2]}}
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <h6 class="dropdown-header">{{currentUser.name}}</h6>
      <button class="dropdown-item">{{menuItems[3]}}</button>
      <button class="dropdown-item">{{menuItems[4]}}</button>
    </div>
    <form class="form-inline">
      <input class="form-control" [(ngModel)]="currentUser.name" name="username">
    </form>
  </div>
</nav>
